
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  
body {
    background-color: rgb(146, 182, 167);
    text-align: center;
    padding: 20px;
    border-radius: 20px ;
  }

  .tittle{
    font-style: italic;
    font-size: 8vh;
    color: rgb(0, 0, 0);
    display: flex;
    bottom: auto;
    width: 100vh;
    height: 10vh;
    margin-top: -3rem;
    -webkit-text-stroke: 0.1vh white;
  }

  .contenedor-calculadora {
    background-color: rgb(34, 43, 40);
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 10vh ;
    border: 0.8vh solid black;
  }

  #v1{
    font-size: 4vh;
    color: white;
    display: flex;
    flex-direction: flex-start;
    -webkit-text-stroke: 0.2vh black;
  }

  #valor1 {
    font-size: 5vh;
    border: none;
    background-color: rgb(112, 112, 112);
    box-shadow: 1vh 1vh 1vh black;
    border-radius: 20px;
  }

  #v2{
    font-size: 4vh;
    color: white;
    display: flex;
    flex-direction: flex-start;
    -webkit-text-stroke: 0.2vh black;

  }

  #valor2 {
    font-size: 5vh;
    border: none;
    background-color: rgb(112, 112, 112);
    box-shadow: 1vh 1vh 1vh black;
    border-radius: 20px;
  }

  #res{
    font-size: 4vh;
    color: white;
    display: flex;
    flex-direction: flex-start;
    -webkit-text-stroke: 0.2vh black;
  }

#resultado{
  color: white;
    font-size: 5rem;
    background-color: rgb(0, 7, 112);
    box-shadow: 1vh 1vh 1vh black;
    border-radius: 10px;
  }

.botones{
    display: inline;
  }

#sumar{
  background-color: rgb(61, 27, 27);
  font-size: 5vh;
  border-radius: 20vh;
}

#sumar:hover{
  background-color: rgb(11, 20, 102);
  color: white;
  transform: scale(1);
}

#restar{
  background-color: rgb(61, 27, 27);
  font-size: 5vh;
  border-radius: 20vh;
}

#restar:hover{
  background-color: rgb(11, 20, 102);
  color: white;
  transform: scale(1);
}

#multiplicar{
  background-color: rgb(61, 27, 27);
  font-size: 5vh;
  border-radius: 20vh;
}

#multiplicar:hover{
  background-color: rgb(11, 20, 102);
  color: white;
  transform: scale(1);
}

#dividir{
  background-color: rgb(61, 27, 27);
  font-size: 5vh;
  border-radius: 20vh;
}

#dividir:hover{
  background-color: rgb(11, 20, 102);
  color: white;
  transform: scale(1);
}

